<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>

            <argument name="collections" xsi:type="array">
                <item name="tigren_testimonial_listing_data_source" xsi:type="string">Tigren\Testimonial\Model\ResourceModel\Testimonial\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Tigren\Testimonial\Model\ResourceModel\Testimonial\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">testimonial</argument>
            <argument name="resourceModel" xsi:type="string">Tigren\Testimonial\Model\ResourceModel\Testimonial</argument>
        </arguments>
    </virtualType>
</config>
